@import '../../vars.css';

.Header {
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	backdrop-filter: blur(2px);
}

.HeaderContent {
	max-width: var(--page-width);
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.HeaderContent * {
	text-decoration: none;
}

.HeaderContent h1 {
	margin: 0;
}

.Logo {
	margin: 0;
	color: var(--primary);
	flex-grow: 1;
}

.AuthButton {
	background-color: var(--secondary);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 0.8rem;
	font-size: 1rem;
	font-weight: 500;
}
